*
{
margin:0px;
padding:0px;
font-family:Century Gothic, Californian FB;
background:black;
}

h1
{
color:darkred;
padding-top:170px;
padding-bottom:25px;
font-size:220%;
}

form
{
color:white;
font-size:120%;
}

label
{
padding-right:15px;
}

select
{
color:darkred;
height:25px;
font-size:90%;

}

input
{
background:white;
color:black;
text-align:center;
height:30px;
font-size:90%
}


